target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
.idea
*.iml
*.log
*~
.DS_Store
.project
.settings
.classpath
**/*.checkstyle
**/*.fbExcludeFilterFile
documentation/doc.html
